<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/3c89332a-767c-437c-a442-ad98621e204a/resourceGroups/Professional/providers/Microsoft.Web/sites/ProAdvantage</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://proadvantage.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>proadvantage.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ProAdvantage</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ProAdvantage</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>